@model SamWarehouseApp.Models.ShoppingList

@{
    ViewData["Title"] = "Edit";
    var total = (float)ViewBag.Total;
}
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,700,0,200" />

<div class="row justify-content-center">
    <div class="card col col-lg-5 mt-5 p-0 pt-2 pb-4 justify-content-around">
        <div >
            <a class="nav-link text-dark" asp-area="" asp-controller="ShoppingLists" asp-action="Index">
                <span class="material-symbols-outlined d-flex default-text-color size-48">arrow_back</span>
            </a>
            
        </div>
        <h1 class="display-8 default-text-color text-center">@Model.Name</h1>
            <div class="row">
                <div class="col-lg-4">
                <p class="m-2 fs-5 default-text-color">Created: @Model.Created.ToString("dd/MM/yyyy")</p>
                <p class="m-2 h3 default-text-color">Total: $@total.ToString("0.00")</p>
                </div>
                <div class="col">
                    <div class="d-flex justify-content-around justify-content-lg-start">
                    <a data-open-modal-rename-shopping-list id="@Model.Id" class="btn btn-primary default-text-color m-2">Rename</a>
                    <a data-open-modal-delete-shopping-list id="@Model.Id" class="btn btn-danger default-text-color m-2">Delete</a>
                    </div>
                </div>

            </div>
            @foreach (var item in Model.ListDetails)
            {

            <div class=" card inner-card shadow row m-lg-3 m-2 p-2 default-text-color" id="">
                <div class="col d-flex flex-row justify-content-lg-around justify-content-between align-items-center">
                <h1 class="align-self-center m-0 col-5 fs-6">
                        @item.Product.Name
                    </h1>
                    <p class="align-self-center m-0 col-2">
                        $@item.Product.Price /@item.Product.Unit
                    </p>
                    <p class="align-self-center m-0 fs-5" id="@item.Id-quantity">
                        @item.Quantity
                    </p>
                    <div class="dialog-button-container">
                        <a type="button" id="@item.Id" class="align-self-center edit-quantity text-decoration-none">
                            <span id="@item.Id" class="material-symbols-outlined d-flex justify-content-center text-success size-28">edit</span>
                        </a>
                        <dialog class="dialog-edit default-background-color" style="width:300px;">

                        </dialog>
                    </div>
                    <div class="dialog-button-container">
                        <a type="button" id="@item.Id" class="align-self-center delete-product text-black text-decoration-none" >
                            <span id="@item.Id" class="material-symbols-outlined d-flex justify-content-center text-danger size-28">delete</span>
                                    
                        </a>
                        <dialog class="dialog-delete default-background-color" style="width:300px;">

                        </dialog>
                    </div>
                </div>
            </div>

            }
                
            <div class="row d-flex justify-content-center p-3">
                <a data-open-modal-add type="button" id="@Model.Id" class="text-decoration-none add-link">

                    <span id="@Model.Id" class="material-symbols-outlined d-flex justify-content-center text-success size-48">add</span>
                </a>
            </div>
        <input type="hidden" id="listId"  value="@Model.Id"/>
        
        
                
    </div>
    

</div>

<div class="modal" id="addProductModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal modal-xl modal-xl modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="default-text-color">
                    Products
                </h1>
            </div>
            <div class="modal-body" id="addProductModalBody">
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary mx-2" data-bs-dismiss="modal" id="closeProductModal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="shopping-list-modal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal modal-md modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
            </div>
            <div class="modal-body" id="shopping-list-modal-body">
            </div>

            <div class="modal-footer">
                
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
